<mat-card class="divRestaurante">
    <mat-card-header>
        <mat-card-title>{{restaurante.nombre}}</mat-card-title>
        <mat-card-subtitle>{{restaurante.descripcion}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="restaurante | imagen">
    <mat-card-content>
        <h3>{{restaurante.telefono}}</h3>
        <p>
            <strong>Capacidad</strong>{{restaurante.capacidad}}
            <br>
            <strong>Direccion:</strong>{{restaurante.direccion}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn" [routerLink]="['/restaurantes', restaurante.id]">Leer más...</button>
        <button mat-button color="info" [routerLink]="['/restaurantes/editar', restaurante.id]">Editar</button>
    </mat-card-actions>
</mat-card>