<h1>
    {{ (restaurante.id) ? 'Editar' : 'Nuevo' }}
    Restaurante
    <small>{{restaurante.nombre}}</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
	<div class="col-12 sm:col-6">
    	<mat-card>
        	<mat-card-content>
            	<div class="grid">
                	<mat-form-field class="col-12 sm:col-6">
                    	<mat-label>Restaurante</mat-label>
                    	<input matInput type="text" required [(ngModel)]="restaurante.nombre">
                	</mat-form-field>
                	<mat-form-field class="col-12 sm:col-6">
                    	<mat-label>Descripcion</mat-label>
                    	<input matInput type="text" required [(ngModel)]="restaurante.descripcion">
                	</mat-form-field>
                	<mat-form-field class="col-12">
                    	<mat-label>Capacidad</mat-label>
                    	<input matInput type="text" required [(ngModel)]="restaurante.capacidad">
                	</mat-form-field>
                	<mat-form-field class="col-12">
                    	<mat-label>Direccion</mat-label>
                    	<input matInput type="text" required [(ngModel)]="restaurante.direccion">
                	</mat-form-field>
                	<mat-form-field class="col-12">
                        <mat-label>Email</mat-label>
                    	<input matInput type="text" required [(ngModel)]="restaurante.email">
                	</mat-form-field>
                	<mat-form-field class="col-12">
                    	<mat-label>Imagen Alternativa</mat-label>
                    	<input matInput type="url" required [(ngModel)]="restaurante.alt_img">
                	</mat-form-field>
                    <mat-form-field class="col-12">
                    	<mat-label>Latitud</mat-label>
                    	<input matInput type="url" required [(ngModel)]="restaurante.lat">
                	</mat-form-field>
                    <mat-form-field class="col-12">
                    	<mat-label>Longitud</mat-label>
                    	<input matInput type="url" required [(ngModel)]="restaurante.lon">
                	</mat-form-field>
                    <mat-form-field class="col-12">
                    	<mat-label>Url</mat-label>
                    	<input matInput type="url" required [(ngModel)]="restaurante.url">
                	</mat-form-field>
            	</div>
            	<div class="flex justify-content-between">
               
            	</div>
        	</mat-card-content>
    	</mat-card>
        <br>
        <button mat-raised-button color="primary" (click)="guardar()">
            <mat-icon>edit</mat-icon>
            {{ (restaurante.id) ? 'Actualizar' : 'Crear' }}
        </button>
        <br>
        <button *ngIf="restaurante.id" mat-raised-button color="warn" (click)="borrarRestaurante()">
            <mat-icon>remove</mat-icon>
            Borrar
        </button>
	</div>
	<div class="col-12 sm:col-6">
    	<mat-card>    
            	<img [src]="restaurante | imagen" mat-card-image>
    	</mat-card>
	</div>
</div>

